{% include "header.html" %}
  <fieldset style="height:22%;border:none">
   <div class="h1" style="width:50%;margin-top:7%;margin-left:25%;text-align:center;margin-bottom:5%">About Us</div>     
</fieldset>
    <img src="/static/images/aboutus.png" style="z-index:-2;position:absolute;width:60%;left:3%;top:10%">
   <div class="h1" style="position:absolute;height:67px;left:55%;top:318px;font-size:27px;width:40%">Never miss a JSEC craving again.</div>
<div class="h2" style="width:40%;left:55%;margin-top:16%;font-size:17px">
   JSEC-TO-GO brings to you the JSEC foodie experience,<br>wherever you are.</div>
   <div class="about" style="margin-top:-13%">
    <i><b>PROJECT-OR</b> is the team behind <b>JSEC-TO-GO</b>, and we believe in making experiences better for our fellow ateneans. Through this project in particular, we are curating an experience for the ateneans who are in love with the food of the student-run enterprices of JSEC.
       <p>The team is composed of <b>Bervilette Tesoro, Dana Ysabel Li, Frances Therese Ong, Mary Pauline Baterna</b>, and <b>Raphaela Ko Teh</b>, and all of which are under the guidance of our mentor and professor, <b>Mr. Joseph Benjamin Ilagan.</p></i>
    </div>
<img src="/static/images/bervilette.jpg" style="width:100px;border-radius:5px;margin-left:20%;margin-top:57%">
<img src="/static/images/dana.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:57%">
<img src="/static/images/ces.JPG" style="width:100px;border-radius:5px;margin-left:5%;margin-top:57%">
<img src="/static/images/polly.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:57%">
<img src="/static/images/rafi.jpg" style="width:100px;border-radius:5px;margin-left:5%;margin-top:57%">
{% include "footer.html" %}