{% include "header.html" %}

  <fieldset style="height:22%">
   <div class="h1" style="width:50%;margin-top:7%;margin-left:25%;text-align:center;margin-bottom:5%">Change Password</div>     
</fieldset>

    <form action="/change" method="POST" >
                
               
        <div class="h2" style="font-size:15px;margin-left:40%;margin-top:3.5%;font-style:normal">
            Current Password
        </div>
        <br>        
        <input type="password" style="margin-left:40%;margin-top:4%;margin-bottom:4%" name="old" required></input>
        <br>
        <br>
        <br>
         <div class="h2" style="font-size:15px;margin-left:40%;margin-top:3.5%;font-style:normal">
            New Password
        </div>
        <br>
        <input type="password" style="margin-left:40%;margin-top:4%;margin-bottom:4%" name="new1" required></input>
        <br>
        <br>
  <br>
        <div class="h2" style="font-size:15px;margin-left:40%;margin-top:3.5%;font-style:normal">
            Confirm New Password
        </div>
        <br>
        <input type="password" style="margin-left:40%;margin-top:4%" name="new2" required>
        <br>
        <br>
  <br>
   {% if change_error is sameas "Password successfully changed." %}
        <div class="passchange" style="color:#692880">{{ change_error }}</div>
        <br>

    {% elif change_error is sameas "The current password is incorrect." %}
        <div class="passchange" style="color:#692880">{{ change_error }}</div>
        <br>

    {% else %}
        <div class="passchange" style="color:#692880">{{ change_error }}</div>
        <br>
    {% endif %}
        <div>
        <input type="submit" style="margin-left:40%;width:20%"  value="Submit New Password"/>
        </div>
    </form>

{% include "footer.html" %}