{% include "header.html" %}
 <div class="h1" style="width:50%;margin-top:10%;margin-left:25%;text-align:center;margin-bottom:5%">Order Complete!</div>

            <div class="h2" style="width:50%;margin-top:16%;margin-left:25%;text-align:center;margin-bottom:5%;font-style: normal">Thank you for your order.</div>
            <img src="/static/images/orderdelivered.png" style="margin-top:15%;width:40%;margin-left:25%">
            <a href="/stalls"><input type="submit" style="width:40%;margin-left:-35%;margin-top:49%" value="Still hungry? Order more!"></a>
            <br>
            <a href="/orderhistory"><input type="submit" style="width:40%;margin-left:30%" value="View Order History"></a>
            <br>
            <br>

{% include "footer.html" %}